.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #007DB1;
    color: #fff;
    width: 200px;
    transition: all 0.5s;
    height: auto;
}
.topsection{
    display: flex;
    align-items:center;
    padding:30px 15px;
    cursor: pointer;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

@media only screen and (max-width: 500px) {
    main{
        padding: 0px;
    }   

    .link_text{
        font-size: 15px;
    }
}