.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4em;
    text-align: center;
    min-height: 100%;
    height: auto;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.973958) 0.01%;
    flex-wrap: wrap;
}

.img{
    width: 700px;
    height: 230px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    transition: all 0.3s;
    
}

.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btnArea{
    width: 80%;
    justify-content: end;
    display: flex;
}

.btnAreaa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    column-gap: 20px;
}

.btn {
    width: 8em;
}

@media only screen and (max-width: 500px) {
    .img{
        width: 200px;
        height: 100px;
    }

    .container{
        height: auto;
        padding: 0px;
    }
  }