.footer{
    background-color: #47A0C6;
    color:white;
    padding: 2em;
    text-align: center;
    position:fixed;
	bottom:0;
	width:100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: rgb(7, 77, 228);
    transition: 0.5s;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}



.copyright span{
    font-weight: bold;
    color: rgb(7, 77, 228);
}