.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.select{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.btnAreaa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    column-gap: 20px;
}

.btn {
    width: 10em;
}