.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.select{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}