.logo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    text-align: center;
    min-height: 100%;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.973958) 0.01%;
}

.container .icone{
    width: 100%;
    font-size: 6em;
    color: #AF0107;
}

.container .icone2{
    margin-left: -25px;
    margin-top: -63px;
    width: 100%;
    z-index: 1;
    display: flex;
    font-size: 6em;
    color: #d81118;
}

.container .iconArea{
    margin-left: 35px;
}

.container .button{
    background-color: #AF0107;
    color: white;
    width: 150px;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 90px;
    margin-top: 25px;
}

.container b{
    color: #AF0107;
    font-size: 2em;
}

.container p{
    color: #AF0107;
    font-size: 1em;
}
 
.container .calendario{
    width: 100%;
    font-size: 4em;
    color: #AF0107;
}

.container .gotas{
     
    font-size: 4em;
    color: #AF0107;
}

.container .groupGotas{
    display: flex;
    
}

.container .img2 {
    width: 20em;
    height: 30%;
    margin: 2em 0;
    margin-bottom: -20px;
}
 