.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    text-align: center;
    min-height: 100%;
    /* pra deixar o footer certin */
    position: relative;
    /* pra deixar o footer certin */
    width: 100%;
    /* pra deixar o footer certin */
    background: rgba(255, 255, 255, 0.973958) 0.01%;
}